.day {
	overflow: hidden;
}

.event {
	width: 100%;
	height: 20px;
	white-space: nowrap;
	.event-name {
		position: absolute;
		overflow: hidden;
		width: 92%;
	    cursor: pointer;
	}
	.event-colors {
		position: relative;
		width: 100%;
		top: -2px;
		ul { position: relative; }
		li {
			opacity: 0.3;
			height: 20px;
			float:left;
			width: 33.33%;	
			position: relative;
			&.highlighted {
				opacity: 1;
			}
		}
	}
}

.event-bar {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	&:hover {
		background-color: #EDEDED;
	}
	&.is-highlighted {
	  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	  border: 1px solid rgba(81, 203, 238, 1);
	}
}

.event-detail {
	background-color: orange;
}