<div id='sidebar'>
  <div id='calendar-top-left'></div>
  <div class='friends-list'>
  {{#each friend in currentUser.friends}}
    {{friend-bar friend=friend sendMouseEnter='highlightFriend' sendMouseLeave='unHighlightFriend'}}
  {{/each}}
  </div>

</div>

{{!-- <li class='event-detail'>
  {{!highlightedEvent.name}}
  {{!link-to 'event' 'events.show' highlightedEvent}}
</li> --}}

{{calendar-builder 
  calendar=calendar
  date=currentMonth
  options=calendarOptions 
  newEvent="newEvent"
}}

{{outlet}}
